
<center>
    <h3>Bạn có muốn xóa không</h3>
    <form action="" method="post">
        <button  type="submit" > Xóa</button>
    </form>
    <button><a href="/products">Không</a></button>
</center>


